<!DOCTYPE html>
<html>
<head>
	<title>mynews api</title>
</head>
<body>

<h1> Welcome to the myNews API </h1>
<h3>Go to <%= link_to 'NYTimes', 'api/nytimes' %> API. </h3>
<h3>Go to <%= link_to 'Product Hunt', 'api/producthunt' %> API. </h3>
<h3>Go to <%= link_to 'Dribble', 'api/dribble' %> API. </h3>
<h3>Go to <%= link_to 'Genius', 'api/genius' %> API. </h3>
<h3>Go to <%= link_to 'Trello Cards', 'api/trello_cards' %> API. </h3>

</body>
</html>


